<div class="row">
    <h2 class="text-center col-12">
       <span class="underline">Login</span>
    </h2>
    <br>
    <br>
    <br>
    <div class="text-center col-3"></div>
    <div class="text-center col-6">
    <form #f="ngForm" (ngSubmit)=" onSubmit(f)" [ngClass]="{'was-validated' : !f.valid && !f.pristine}">
        <div class="form-group row text-center">
          
          <!-- <label for="username" class="col-sm-2 col-form-label" >Username</label> -->
        
            <input placeholder="username" type="text" required minlength="1" maxlength="1"  class="form-control" name="username" id="username" [(ngModel)]="user.username" #username="ngModel">
          <div class="invalid-feedback" [hidden]="username.valid || username.pristine">
            please add a username
          </div>
         
        </div>
        <div class="form-group row text-center">
         
            <!-- <label for="password" class="col-sm-2 col-form-label" >Password</label> -->
           
         
              <input placeholder="password" type="password" required minlength="1" class="form-control" name="password" id="password" [(ngModel)]="user.password" #password="ngModel">
              <div class="invalid-feedback" [hidden]="password.valid || password.pristine">
                please add a password
              </div>
           
          </div>
                <div class="form-group row">
                   
                    <div class="col-sm-12 text-center">
                    <button type="submit" class="btn btn-primary">Submit</button> &nbsp;
                    <button class="btn btn-danger" routerLink="/home">Cancel</button>&nbsp;
                    <button type="submit" routerLink="/register" class="btn btn-primary">Register</button> &nbsp;
  
                    </div>
                  </div>
      </form>
     
      </div>
      </div>
