
  <div class="sections">
    <div class="row">
        <h2 class="text-center col-12" style="margin-bottom: 15px;">
            <span class="underline">Most recent Question Posts</span>
        </h2>
        <br>
        <br>
        <div class="col-4"></div>
        <div class="text-center col-4">
            <h5>Title:</h5>
            <p>How do I create a for loop? <br></p>
            <h5>Description:</h5>
            <p>My for loop is not working how do I fix it? <br></p>
            <h5>Class:</h5>
            <p>CS 1400<br></p>
            <h5>Snippit:</h5>
            <p> <br></p>
        </div>

        <div class="col-4"></div>
    </div>


    <div class="row">
  
      <div class="col-4"></div>
      <div class="text-center col-4">
          <h5>Title:</h5>
          <p>How do I create a for loop? <br></p>
          <h5>Description:</h5>
          <p>My for loop is not working how do I fix it? <br></p>
          <h5>Class:</h5>
          <p>CS 1400<br></p>
          <h5>Snippit:</h5>
          <p> <br></p>
      </div>

      <div class="col-4"></div>
  </div>



  <div class="row">
    <
    <div class="col-4"></div>
    <div class="text-center col-4">
        <h5>Title:</h5>
        <p>How do I create a for loop? <br></p>
        <h5>Description:</h5>
        <p>My for loop is not working how do I fix it? <br></p>
        <h5>Class:</h5>
        <p>CS 1400<br></p>
        <h5>Snippit:</h5>
        <p> <br></p>
    </div>

    <div class="col-4"></div>
</div>
</div>
