<!--The content below is only a placeholder and can be replaced.-->

<!--   <div class="container-fluid">-->
    <header>
   <auth-el></auth-el>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
   
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
         
          <span class="navbar-text">
            <ul class="navbar-nav mr-auto my-2 my-lg-0">
              <li class="topnav home nav-item" >
                <a class="nav-link"  routerLink="/home" routerLinkActive="activate"
                [routerLinkActiveOptions]="{ exact: true }" >Home </a>
              </li>
              <li class="topnav nav-item">
              <a class="nav-link"  routerLink="/home/employer" routerLinkActive="activate">Employer</a>
              </li>
              <li class="topnav nav-item">
                <a class="nav-link" routerLink="/home/job_listings" routerLinkActive="activate">Jobs</a>
              </li>
              <li class="topnav nav-item">
                  <a class="nav-link" routerLink="/home/question_forum" routerLinkActive="activate">Questions</a>
                </li>
            </ul>
          </span>
        </div>
      </nav>
    </header>
   
   <div class="banner"></div>
   
   <div class="colorBar text-center row2">
       <div class="row acitve">
        
            <div class="col-sm-4">
                <a  routerLink="/home/employer" routerLinkActive="active">
                <i class="fas fa-handshake fa-3x"></i>
                <p>Employer</p>
                </a>
            </div>
    
            <div class="col-sm-4">
                <a routerLink="/home/job_listing" routerLinkActive="active">
                <i class="fas fa-clipboard-check fa-3x"></i>
                <p>Apply to Jobs</p>
                </a>
            </div>
            <div class="col-sm-4">
                <a routerLink="/home/question_forum" routerLinkActive="active">
                <i class="fas fa-question fa-3x"></i>
                <p>Questions Forum</p>
                </a>
            </div>
        </div>
   </div>
   <footer>
      <nav class="navbar fixed-bottom">
      <p>  &copy; Capstone 2019</p>
      
      </nav>
    </footer>
   
   
     
    
    
    
    
    
<!--</div>-->

<router-outlet></router-outlet>
