<div class="sections">
    <div class="row">
        <h2 class="text-center col-12">
            <span class="underline">Most Recent Job Posts</span>
        </h2>
        <br>
        <br>

    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="text-center col-4">
            <h5>Title:</h5>
            <p>{{ jobs[jobs.length - 1].title}} <br></p>
            <h5>Description:</h5>
            <p>{{ jobs[jobs.length - 1].description}} <br></p>
            <h5>Comany Name:</h5>
            <p>{{ jobs[jobs.length - 1].company_name}} <br></p>
            <h5>Pay:</h5>
            <p>{{ jobs[jobs.length - 1].pay}} <br></p>
            <h5>Type:</h5>
            <p>{{ jobs[jobs.length - 1].type}} <br></p>
            <h5>URL:</h5>
            <p>{{ jobs[jobs.length - 1].URL}} <br></p>
            <h5>Location:</h5>
            <p>{{ jobs[jobs.length - 1].location}} <br></p>
        </div>
        <div class="col-4"></div>
    </div>
</div>

<div class="row employer ">
    <div class="col-sm-12 text-center">
        <h2>
            <span class="underline2">
                Employers
            </span>
        </h2>

        <p>
            If your company is looking for full time, part time, or internship positions,
        </p>

        <p>submit your application here and we will take care of the rest. </p>

        <button type="button" class="btn btn-outline-light" routerLink="/home/employer">SEND APPLICATION</button>

    </div>
</div>

<div class="sections">
    <div class="row">
        <h2 class="text-center col-12" style="margin-bottom: 15px;">
            <span class="underline">Most recent Question Posts</span>
        </h2>
        <br>
        <br>
        <div class="col-4"></div>
        <div class="text-center col-4">
            <h5>Title:</h5>
            <p>How do I create a for loop? <br></p>
            <h5>Description:</h5>
            <p>My for loop is not working how do I fix it? <br></p>
            <h5>Class:</h5>
            <p>CS 1400<br></p>
            <h5>Snippit:</h5>
           <a  class="btn btn-primary"  routerLink="/home/questions">ASK QUESTION</a>
            
        </div>

        <div class="col-4"></div>
    </div>
</div>

<div class="colorBar2">
    <div class="row">

        <div class="col-12 text-center">
            <h3>
                <span class="underline2">
                    Already Registered?
                </span>
            </h3>
        </div>

        <div class="col-12 text-center">
            <p>
                Login now to add your input to other students questions
            </p>
        </div>

        <div class="col-12 text-center">
            <button type="button" class="btn btn-outline-light">LOGIN</button>
        </div>

    </div>
</div>