<div class="row">
  <h2 class="text-center col-12">
      <span class="underline">Most Recent Job Posts</span>
  </h2>
 
</div>
<br>
<br>
<div class="container jobs">
  
<div class="row">
    <div class="col-3"></div>
    <div class=" pad-left col-4">
        <div >
         <h4>Title:</h4>
          <p>Web UX Designer</p>
          <h4>Company:</h4>
          <p>Bob Ross</p>
          <h4>Location:</h4>
          <p>Weber State</p>
         </div>
    </div>
    <div class="col-3 jobpic">
        
        <h4>Description:</h4>
        <p>This is a programming job, you better know how to program you fool. Also, design is a plus.</p>
        <h4>Date Posted</h4>
        <p>March 10, 2019</p>
           </div>
</div>    
<div class="row">
  <div class="col-sm-12 text-center">
      <button type="button" class="btn cent btn-outline-secondary">Apply Now</button> 
  </div>
</div>

</div>
